<h1 style="padding-left:450px">Tweeter Timeline</h1>
<!-- <div *ngIf="undefined === myTimeline">Loading...</div>
<div *ngIf="undefined !== myTimeline"> -->

  <div class ="card">
    <div *ngFor="let tweets of myTimeline.data" id="ngforCards">
     <mat-card id="mCard">
        <h3>{{tweets.full_text}}</h3>
     
        <p>Created at:{{tweets.created_at}}</p>
        <p>User_name:{{tweets.user.name}}</p>
        <p>Screen_name:{{tweets.user.screen_name}}</p>
        <p>Location:{{tweets.user.location}}</p>
        <p>{{tweets.user.description}}</p>
      </mat-card><br>
    </div>
  </div>

